
    .nav-header{
    /* margin-top: 5px !important; */
    /* width: 16rem !important; */
    /* margin-left: 10px !important; */
    border-top-left-radius: 20px!important;
    border-bottom-left-radius: 20px!important;
    margin-left:5px;
    }

    /* .dlabnav{
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    width: 15.9rem !important;
    border-bottom-left-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
    } */
